
# Environments
.env
.env.example
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data
data/

# Local Config
# mcp.json removed from ignore to track default python config



# Testing & Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
test-results/

# Logs
dummy_server.log
